// Google Fonts
@import url(https://fonts.googleapis.com/css?family=Lato);

// Color variables
$teal:    #11977d;
$black: #777777;

// Font family variables
$font-family-sans-serif:      "Lato", sans-serif;

// Navigation
$navbar-light-active-color:         $teal;


$primary:         $teal;

@import "bootstrap";

